/*
This is the standard stylesheet which is to be used on every webpage in Fishy's Website

This style sheet defines standard styles to be used by all webpages to create a basic layout

*/
/*	Set style of the header in all webpages		*/

element {
	--toolbar-width: 250px;
}
.header {
	/*	Set size of box	and position	*/

	height: 100;
	margin: 0;
	/*	Set style of box	*/
	background-color: #c2ffb9;
	
	/*	Set border style	*/
	border-style: solid;
	border-width: 2pt;
	border-color: #009B09;
}
/*	Set style of the navigation bar in all webpages		*/
.navigationBar {
	/*	WARNING: TO SET LINK STYLES, SEE "nav a" STYLES IN THIS CSS FILE	*/
	
	/*	Set size and margin of box		*/
	margin: 0;
	padding: 5pt;
	top: 10px;
	padding-top: 10px;
	
	/*	Set Text style		*/
	text-align: left;
	color: #FFD800;
	
	vertical-align: middle;
	
	/*	Set style of navigation bar		*/
	background-color: black;
	

}
/*	Set style of links within the main navigation bar		*/
nav a {
	color: #FFD800;
	background-color: black;
	margin: 2pt;
}

nav a:hover {
	color: red;
	background-color: black;
	margin: 2pt;
}



/*	Set style of the main content box in all webpages	*/
.main {
	/*	Set size of box		*/

	width: 80vw;
	height: 100;
	margin: 0;
	background-color: #c2ffb9;
	padding: 10pt;
	
	/*	Set style of border		*/
	border-style: solid;
	border-width: 2pt;
	border-color: #009B09;
	
	/* Set positioning	*/
	position: relative;
	top: -10px;
	left: 250px;
	
}

.toolbar {
	height: 500px;
	width: 7em;
	
	border-style: soft;
	border-width: 2pt;
	border-color: gray;
	
	background-color: gray;
	background-color:linear-gradient(white,gray);
	
	position: relative;
	top: 5px;
	left: 0;
}

/*	Set style of all footer boxes in all webpages		*/
.footer {
	/*	Set size of box	and position	*/

	height: 100;
	margin: 0;


	/*	Set style of box		*/
	background-color: #c2ffb9;
	
	/*	Set style of border		*/
	border-style: solid;
	border-width: 2pt;
	border-color: #009B09;
	
	position: relative;
	top: 100px;
}



